---
import Layout from "../layouts/Layout.astro";
import { CartList } from "../components/commerce/CartList";
---

<Layout title="Tu Carrito | KrostyShop">
  <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
    <CartList client:load />
  </div>
</Layout>
