---
import Layout from "../layouts/Layout.astro";
import { UpdatePasswordForm } from "../components/auth/UpdatePasswordForm";
---

<Layout title="Actualizar Contraseña | KrostyShop">
    <div class="min-h-[80vh] flex items-center justify-center px-4">
        <UpdatePasswordForm client:load />
    </div>
</Layout>
